<!-- Hero Section -->
<section class=" bg-gradient-to-r from-orange-400 to-yellow-500 bg-opacity-95 hero py-16 xl:px-6">
    <div class="container mx-auto flex items-center justify-between">
        <div class="w-1/2">
            <h6 class="text-lg xl:text-2xl"><em>Are You hungry?☹️</em></h6>
            <h1 class="text-3xl md:text-5xl lg:text-7xl xl:text-8xl font-bold">Don't Wait!</h1>
            <a href="#menu" class="px-6 py-2 inline-block rounded-full text-white font-bold my-4 btn-primary">Order
                Now</a>
        </div>

        <div class="w-1/2">
            <img src="/images/hero-pizza.png" alt="hero-pizza">
        </div>
    </div>
</section>

<!-- Menu -->
<section class="menu container mx-auto py-8" id="menu">
    <h1 class="text-xl font-bold mb-8 xl:px-6">All Pizzas</h1>
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-x-8 gap-y-8 xl:px-4">
        <% pizzas.forEach(function(pizza){ %>

            <div
                class="w-full transition-all duration-500  ease-in-out border-2 border-slate-200 hover:scale-105 shadow-md hover:shadow-lg px-2 py-4 rounded-md ">

                <div>
                    <% const imagePath=pizza.image %>
                        <% const filePath=imagePath.slice(imagePath.indexOf('public') + 'public' .length); %>
                </div>

                <img class="h-40 mb-4 mx-auto" src="<%= filePath %>" alt="<%= pizza.name %>">
                <div class="text-center">
                    <h2 class="mb-4 text-lg">
                        <%=pizza.name%>
                    </h2>
                    <span class="size py-1 px-4 rounded-full uppercase text-xs font-bold">
                        <%=pizza.size%>
                    </span>
                    <div class="flex items-center justify-around mt-6">
                        <span class="font-bold text-lg">₹ <%=pizza.price %></span>
                        <button data-item="<%= JSON.stringify(pizza) %>"
                            class="add-to-cart flex items-center py-1 px-6 rounded-full">
                            <span>+</span>
                            <span class="ml-4">ADD</span>
                        </button>
                    </div>
                </div>
            </div>

            <% }) %>

    </div>
</section>